img {
	height:100px;
	width: 200px;
	padding-left: 1px;
	object-fit: contain;
}
/*style of enlarged img*/
.enlarged{
	object-fit: contain;
	object-position: 10px 10px;
	height: 400px;
	width: 600px;
}
span{
	position: absolute;
	left: 30px;
	top: 95px;
	font-family: Verdana, Geneva, sans-serif;
}
.typing{
	position: absolute;
	top: 40px;
	left: 550px;
	width: 240px;
	border: solid 1px;
	border-radius: 3px;
	padding: 0;
}
h5{
	position: absolute;
	top: 0;
	right: 10px;
	color:red;
	visibility: hidden;
}

h6{
	position: absolute;
	top: 40px;
	right: 10px;
	color:red;
	visibility: hidden;
	font-size: 12px;
}

button{
	width: 30px;
	background-color: #FFF;
	padding: 0;
}

input{
	width: 200px;
}

.container{
	
	position: relative;
    margin-top: 80px;
    padding-top: 50px;
	padding-right: 200px;
	padding-bottom: 200px;
	padding-left: 300px;
}

.content{
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-top-color: #FFF;
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: #FFF;
	float:left;
}
div.content:hover {
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFF;
	background-color: #c6babc;
	float:left;

	animation-name: turnAround;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}div.content:hover h5 {
	visibility: visible;
}div.content:hover h6 {
	visibility: visible;
}

.content2{
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: #FFF;
	float:left;
}
div.content2:hover {
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFF;
	background-color: #c6babc;
	float:left;

	animation-name: turnAround;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
} 
div.content2:hover h5 {
	visibility: visible;
}
div.content2:hover h6 {
	visibility: visible;
}
.content3{
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-top-color: #FFF;
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	float:left;
}
div.content3:hover {
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFF;
	background-color: #c6babc;
	float:left;

	animation-name: turnAround;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
div.content3:hover h5 {
	visibility: visible;
}
div.content3:hover h6 {
	visibility: visible;
}
.content4{
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFF;
	float:left;
}
div.content4:hover {
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFF;
	background-color: #c6babc;
	float:left;

	animation-name: turnAround;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
div.content4:hover h5 {
	visibility: visible;
}div.content4:hover h6 {
	visibility: visible;
}

/*this class controls apperance of selected car*/
.expand{
	position: absolute;
	top:0px;
	left:300px;
	height:370px;
	width: 740px;
	border-width: 3px;
	border-style: solid;
	border-color: #eff1f4;
	float:left;
	background-color: #FFF;
	box-shadow: 10px 10px 5px #c6cad1;
	z-index: 1;
}
.smallButton{
	position: absolute;
	top: 0;
	right:0;
	color:#FFF;
	background-color: #000;
}
/*style for mouseover event on car picture*/
.darkPicture{
	position: relative;
	height:120px;
	width: 240px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFF;
	background-color: #c6babc;
	float:left;

	animation-name: turnAround;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
/*Definition of turnAround animation*/
@keyframes turnaround {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
}
/*For Safari*/
@-webkit-keyframes turnAround {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
} 

